body, html {
    height: 100%;
    -ms-overflow-style: none;
}

body {
    width: 100%;
    margin: 0;
}

.header {
    font-size: 8vw;
    cursor: pointer;
    height: 20vw;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    background-color: #ffffff;
}

.footer {
    display: grid;
    font-size: 5vw;
    text-align: center;
    cursor: pointer;
    height: 50px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background-color: #ffffff;
    grid-template-columns: 50% 50%;
    float: left;
}

.mainPage {
    grid-column: 1 span 1;
    background-color: rgb(212, 221, 224);
}

.klimakampen {
    font-family: 'Fredericka the Great', cursive;
    font-weight: 500;
    grid-column: 2 span 1;
    background-color: #ddebd7;
    z-index: 3;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.nav {
    color: #3b4955;
    grid-column-start: 1;
    grid-column-end: 2;
    z-index: 3;
    padding: 2vw;
}

.burger {
    font-size: 12vw;
    padding: 5vw;
    height: 100%;
    width: 100%;
    margin-top: 100%;
    margin-bottom: 100%;
}

.headerNef {
    grid-column-start: 1;
    grid-column-end: 3;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
    z-index: 2;
    transform: translate(50%,0%);
}

.divForNefImage {
    margin-left: auto;
    margin-right:auto;
    width: 8em;
    display: block;
    font-size: 4vw;
}

.container {
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr auto;
    grid-row-gap: 2.5%;
    z-index: 1;
}

.container-item {
    border-radius: 7.5px;
    width: 100%;
    position: relative;
    background-color: #f2f4f5;
    grid-column-start: auto;
    grid-column-end: span 2;
    grid-row-start: auto;
    grid-row-end: span 1;
    z-index: 1;
    box-shadow: 5px 5px 5px grey;
}

a {
    color: black;
}